#container{
    max-width: 1496px;
    margin: 0;
}
*{
    box-sizing: border-box;
}
#header{
    flex-basis: 100%;
    background-color: black;
    height: 60px;
    color: #888F94;
}
.navbar-header{
    display: inline-block;
    padding-left: 10px;
}
.navbar-header li{
    display: inline-block;
    list-style: none;
}
.navbar-header li a {
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.navbar-header li a:hover{
    background-color: #CDCDCD;
}
img{
    width: 30px;
    height: 20px;
    margin-left: 750px;
    text-align: right;
    cursor: pointer;
}
#content{
    max-width: 100%;
    display: flex;
}
#content-content{
    flex-basis: 100%;
}

#content-link{
    flex-basis:100% ;
    background-color: #CDCDCD;
}
#content-ads{
    flex-basis:100%;
    background-color: #CDCDCD;
}
#footer{
    text-align: center;
    font-size: 20px;
    color: white;
    height: 60px;
    background-color:#555555;
}
/*responsive web*/
@media (min-width: 576px) {

    #content{
        flex-basis: 60%;
    }
    #content-link{
        flex-basis: 30%;
    }
    #content-ads{
        flex-basis: 30%;
    }
    
}


